.body{
    background-color: rgba(255, 7, 7, 0.733);
    color: white;

}        
.header{
    display: flex;
    justify-content: space-around;
 background-color: rgb(221, 0, 0);
}

.tx1{
 justify-content: end;

}
.tx2{
justify-content: end;

}