.body{
    background-color: rgb(255, 119, 119);
    color: white;
}        
.cabecalho{ 
    
    background-color: rgb(255, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
